{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="">
    {% for produit in produit %}
    <div class="" style="width: 18rem;">
    <img src="{{ asset('imagesProduit/' ~ produit.image) }}" class="" alt="{{ produit.image }}">
        <div class="">
            <h4 class=""> {{ produit.titre }} </h5>
            <h6 class=""> {{ produit.prix }} </h6>
            <p class="">{{ produit.description }}...</p>
            <a href="{{ path('app_produit', {id: produit.id } ) }}" class="btn btn-primary">lire la suite...</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
